<div id="wachtkamer">
    Wacht tot er een vraag wordt verstuurd....
</div>

<div id="antwoord">
        <h1>{{currentQuestion.questionnr}}</h1>
        <p>{{currentQuestion.question}}</p>
        <h3 id="countdown">Tijd over: <span id="timer"></span> seconde(n)</h3>

        <div ng-repeat="answer in currentQuestion.choices | orderBy:random">
            <input type="radio" name="antwoord" ng-click="setAnswer(answer)">{{answer}}
        </div>

                <input class="button" type="submit" value="Verstuur antwoord" ng-click="sendAnswer()">
</div>

<div id="score">
    <table>
        <tr><td>Score</td></tr>
        <tr><td>{{myScore}}</td></tr>
    </table>
</div>

<div id="endresult2">
    <h2 class="center">Scores</h2>
    <table id="tussenstand">
        <tr><td>Naam</td><td>Score</td></tr>
        <tr ng-repeat="player in finalScores | orderBy: 'score'">
            <td>{{player.studentName}}</td><td>{{player.score}}</td>
        </tr>
    </table>
</div>


