<div class="loginForm">
    <form>
        <h2>Docent</h2>
        <span class="inputlabel">Naam</span> <input ng-model="userName" type="text" name="username"><br>
        <span class="inputlabel">Wachtwoord</span> <input ng-model="password" type="password" name="password"><br>
        <input ng-click="teacherLogin()" type="submit" value="Submit">
    </form>
</div>

<div class="loginForm">
    <form>
        <h2>Student</h2>
        <span class="inputlabel">Naam</span> <input ng-model="studentName" type="text" name="studentnaam"><br>
        <span class="inputlabel">Kamer code</span> <input id="kamercode" ng-model="roomCode" type="text" name="kamercode"><br>
        <input ng-click="goToRoom()" type="submit" value="Submit">
    </form>
</div>